[submodule "AI/ruflo"]
	path = AI/ruflo
	url = git@github.com:ruvnet/ruflo.git
[submodule "AI/wshobson_agents"]
	path = AI/wshobson_agents
	url = git@github.com:wshobson/agents.git
[submodule "SLIDES/slidevjs_slidev"]
	path = SLIDES/slidevjs_slidev
	url = git@github.com:slidevjs/slidev.git
[submodule "CLAUDE/web-werkstatt_ai-context-optimizer"]
	path = CLAUDE/web-werkstatt_ai-context-optimizer
	url = git@github.com:web-werkstatt/ai-context-optimizer.git
